.login-button {
    display: inline-block;
    width: auto;
  background: transparent;
  color: #fff;
  border: 2px solid #d72638;
  margin-top: 5%;
  padding: 0.8rem 2rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #d72638;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(215, 38, 56, 0.5);
}
