.footer {
  display: flex;
  background-color: #000; /* czarny */
  padding: 1rem;
  height: 7vh;
  align-items: center;
  justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}