version: "3.9"

services:
  db:
    restart: always
    image: postgres:16
    container_name: laliga-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  backend:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laliga-backend
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/laliga_stats
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPORTMONKS_API_TOKEN: ${SPORTMONKS_API_TOKEN}
      JWT_SECRET: ${JWT_SECRET}
      JWT_SECRET_HEX: ${JWT_SECRET_HEX}
      JWT_EXPIRATION: ${JWT_EXPIRATION}
    ports:
      - "8080:8080"

  frontend:
    restart: always
    build:
      context: ../laliga-crud-frontend/ems-frontend
      dockerfile: Dockerfile
    container_name: laliga-frontend
    depends_on:
      - backend
    ports:
      - "80:80"
volumes:
  postgres_data: