
.laliga-table {
  width: 100%;
  font-size: 0.8rem;
  color: #e6e6e6;
}
.laliga-table thead th {
  background: #000;
  border-bottom: 0px solid black;
  padding: 3px;
  font-weight: 600;
}
.laliga-table tbody tr {
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.laliga-table tbody tr:hover {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.15);
}
.laliga-table td {
  padding: 5px;
}
.sortable-header {
  cursor: pointer;
}

.sortable-header:hover {
  color: #ff5252;
}

.btn-laliga {
  background: transparent;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  margin: 0 5px;
  transition: 0.2s;
}

.btn-laliga:hover:not(:disabled) {
  background: #e5243b;
  color: white;
}

.btn-laliga:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.team-logo {
  padding: 0;
  margin-right: 10px;
  width: 20px;
}

.laliga-table tbody tr.ucl-position {
  background-color: rgba(0, 90, 200, 0.35);
}

.laliga-table tbody tr.uel-position {
  background-color: rgba(255, 140, 0, 0.35);
}

.laliga-table tbody tr.relegation-position {
  background-color: rgba(200, 0, 0, 0.35);
}
