/* --- Layout --- */
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66vh;
  background-color: black;
  border-radius: 50px;
  font-family: "Inter", sans-serif;
}

.auth-card {
  padding: 2rem;
  width: 100%;
  max-width: 360px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

/* --- Typography --- */
.auth-title {
    width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.auth-error {
  background-color: #ffe0e0;
  color: #b00020;
  padding: 0.6rem 0.9rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

/* --- Form --- */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group input {
  width: 100%;
  padding: 0.7rem 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.95rem;
  transition: border-color 0.2s;
}

/* --- Buttons --- */
.btn {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s;
}

.btn-primary {
  display: inline-block;
    width: auto;
  background: transparent;
  color: #fff;
  border: 2px solid #d72638;
  margin-top: 5%;
  padding: 0.8rem 2rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #d72638;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(215, 38, 56, 0.5);
  border-color: #d72638;
}

.btn-outline {
  background: white;
  border: 1px solid #ddd;
  color: black;
  margin-top: 0.8rem;
}

.btn-outline:hover {
  background-color: red;
  color: white;
}