.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url('../../assets/welcome-bgc.jpg') center/cover no-repeat;
}

.panel {
  flex-direction: row;
  align-self: center;
  width: 50vw;
  margin: 5%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.element {
  display: inline-block;
  border-radius: 20px;
  width: 40%;
  height: 40%;
  margin: 10px;
  background-color: black;
}

.element p {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.element p:hover {
  color: #e5243b;
  cursor: pointer;
}
