.players-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
   background:
    linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url('../../assets/welcome-bgc.jpg') center/cover no-repeat;
  color: white;
}

.players-wrapper {
  width: 60vw;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px 30px;
}